@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


@layer base{
    @keyframes fadeUp{
          0% 
          { opacity: 0; 
            transform: translateY(12px) 
        }
          100%
          { opacity: 1;
            transform: translateY(0) };
        }

    @kayframes cardIn{
          0%: { opacity: 0; transform: translateY(16px) scale(0.97) }
          100%: { opacity: 1; transform: translateY(0) scale(1) }
        }

    @keyframes bounce{
          0%, 60%, 100% { transform: translateY(0); opacity: 0.5 }
          30% { transform:translateY(-5px); opacity: 1 }
        }

    #fadeUp{
        animation:fadeUp 0.35s ease both;
    }
    #cardIn{
        animation:cardIn 0.4s ease both;
    }
    #bounce{
        animation:bounce 1.2s ease infinite;
    }

    
    
}